# Analysis of the performance of the top 2 configurations with pop_size = 5000

In [1]:
import os, shutil
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
directory = "/Users/franz/Downloads/sudoku_solver-main-4/testing_results/top_2_5000_population/"

all_file_names = sorted(os.listdir(directory))
try:
    all_file_names.remove(".DS_Store")
except:
    pass

print("There are", len(all_file_names), "csv files in the directory!")

There are 2 csv files in the directory!

In [3]:
tournament__pmx_co__swap_mutation = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__5000.csv")
tournament__single_point_co__swap_mutation = pd.read_csv(directory + "tournament__single_point_co__swap_mutation__5000.csv")

In [4]:
display(tournament__pmx_co__swap_mutation)
print("Average throughout all the difficulty levels:", np.round(tournament__pmx_co__swap_mutation["Average_Fitness"].mean(),2))

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,264,260,256,257,270,252,258,256,260,...,254,262,259,254,258,253,258,257,262,258.36
1,medium,270,257,253,256,259,256,259,256,256,...,258,258,252,254,257,258,260,255,255,256.60
2,hard,260,262,262,253,256,256,259,256,260,...,256,258,249,262,262,262,261,259,258,259.08

Average throughout all the difficulty levels: 258.01

In [5]:
display(tournament__single_point_co__swap_mutation)
print("Average throughout all the difficulty levels:", np.round(tournament__single_point_co__swap_mutation["Average_Fitness"].mean(),2))

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,254,262,253,256,262,260,254,252,260,...,262,253,254,258,266,258,253,256,252,256.84
1,medium,260,256,260,249,260,252,254,258,248,...,245,262,260,258,262,244,256,255,258,256.40
2,hard,258,254,259,257,257,260,260,253,258,...,258,256,258,264,261,249,262,246,255,256.24

Average throughout all the difficulty levels: 256.49