# Analysis of the best co_p parameter value

In [1]:
import os, shutil
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
directory = "/Users/franz/Downloads/sudoku_solver-main-4/testing_results/best_co_p/"

all_file_names = sorted(os.listdir(directory))
try:
    all_file_names.remove(".DS_Store")
except:
    pass

print("There are", len(all_file_names), "csv files in the directory!")

There are 4 csv files in the directory!

In [3]:
tournament__pmx_co__swap_mutation__243__2000__co_p__0_6__mu_p__0_6 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_6__mu_p__0_6.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_7__mu_p__0_6 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_7__mu_p__0_6.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_9__mu_p__0_6 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_9__mu_p__0_6.csv")

In [4]:
print("\n\n\033[1mco_p = 0.6:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_6__mu_p__0_6)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_6__mu_p__0_6["Average_Fitness"].mean(),2))

co_p = 0.6:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,237,236,232,233,233,235,232,231,234,...,237,235,237,232,239,227,235,231,232,234.36
1,medium,228,235,232,235,235,232,234,233,236,...,231,234,238,236,235,234,231,233,232,233.52
2,hard,233,230,232,234,227,229,241,235,237,...,231,234,234,237,239,228,236,234,232,233.36

The average fitness score is: 233.75

In [5]:
print("\n\n\033[1mco_p = 0.7:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_7__mu_p__0_6)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_7__mu_p__0_6["Average_Fitness"].mean(),2))

co_p = 0.7:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,236,239,235,236,236,240,239,233,231,...,237,233,234,236,237,239,237,233,235,236.04
1,medium,237,235,232,234,235,237,233,238,239,...,237,235,235,231,238,233,234,239,241,235.72
2,hard,238,234,236,236,236,236,235,236,234,...,232,233,237,235,236,237,232,233,234,234.84

The average fitness score is: 235.53

In [6]:
print("\n\n\033[1mco_p = 0.8:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6["Average_Fitness"].mean(),2))

co_p = 0.8:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,235,239,234,235,234,239,237,238,234,...,235,234,239,241,237,239,239,234,234,236.64
1,medium,239,237,235,239,236,236,236,237,238,...,238,237,236,235,235,235,237,234,239,236.56
2,hard,235,237,232,237,234,233,237,239,241,...,236,232,240,236,233,238,236,232,234,235.72

The average fitness score is: 236.31

In [7]:
print("\n\n\033[1mco_p = 0.8:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_9__mu_p__0_6)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_9__mu_p__0_6["Average_Fitness"].mean(),2))

co_p = 0.8:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,236,238,234,235,241,243,237,237,231,...,237,241,237,235,236,234,238,237,237,236.64
1,medium,234,234,235,234,232,231,236,236,241,...,237,239,235,236,236,237,236,237,235,235.72
2,hard,234,239,237,235,236,239,236,234,237,...,235,239,234,235,235,235,234,236,232,235.44

The average fitness score is: 235.93