# Analysis of the best co_p parameter value

In [1]:
import os, shutil
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
directory = "/Users/franz/Downloads/sudoku_solver-main-4/testing_results/best_mu_p/"

all_file_names = sorted(os.listdir(directory))
try:
    all_file_names.remove(".DS_Store")
except:
    pass

print("There are", len(all_file_names), "csv files in the directory!")

There are 5 csv files in the directory!

In [3]:
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_2 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_2.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_4 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_4.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_8 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_8.csv")
tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_7 = pd.read_csv(directory + "tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_7.csv")

In [4]:
print("\n\n\033[1mmu_p = 0.2:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_2)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_2["Average_Fitness"].mean(),2))

mu_p = 0.2:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,237,235,235,237,231,234,238,230,237,...,233,230,236,234,234,234,241,239,233,234.92
1,medium,230,231,233,231,231,235,238,234,237,...,232,234,231,232,237,236,234,226,236,233.84
2,hard,231,235,233,235,232,232,231,235,235,...,233,240,237,233,230,238,237,237,231,234.36

The average fitness score is: 234.37

In [5]:
print("\n\n\033[1mmu_p = 0.4:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_4)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_4["Average_Fitness"].mean(),2))

mu_p = 0.4:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,237,238,235,237,236,236,233,235,234,...,235,239,231,234,235,235,237,241,233,235.72
1,medium,234,237,235,234,237,236,231,237,228,...,233,234,233,234,232,235,237,234,234,234.84
2,hard,237,233,237,239,235,233,237,239,237,...,239,239,239,238,237,236,237,232,237,236.44

The average fitness score is: 235.67

In [6]:
print("\n\n\033[1mmu_p = 0.6:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_6["Average_Fitness"].mean(),2))

mu_p = 0.6:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,235,239,234,235,234,239,237,238,234,...,235,234,239,241,237,239,239,234,234,236.64
1,medium,239,237,235,239,236,236,236,237,238,...,238,237,236,235,235,235,237,234,239,236.56
2,hard,235,237,232,237,234,233,237,239,241,...,236,232,240,236,233,238,236,232,234,235.72

The average fitness score is: 236.31

In [7]:
print("\n\n\033[1mmu_p = 0.7:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_7)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_7["Average_Fitness"].mean(),2))

mu_p = 0.7:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,237,238,239,238,239,238,238,237,236,...,238,237,237,240,236,237,237,236,237,237.52
1,medium,239,234,236,239,234,237,237,238,236,...,236,240,239,234,237,239,236,241,234,236.32
2,hard,237,236,235,234,237,238,239,234,234,...,231,235,236,237,237,239,232,234,235,235.88

The average fitness score is: 236.57

In [8]:
print("\n\n\033[1mmu_p = 0.8:")
display(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_8)
print("The average fitness score is:", np.round(tournament__pmx_co__swap_mutation__243__2000__co_p__0_8__mu_p__0_8["Average_Fitness"].mean(),2))

mu_p = 0.8:

,Unnamed: 0,R_1,R_2,R_3,R_4,R_5,R_6,R_7,R_8,R_9,...,R_17,R_18,R_19,R_20,R_21,R_22,R_23,R_24,R_25,Average_Fitness
0,easy,235,234,234,236,234,235,239,237,237,...,237,234,230,237,232,235,235,235,239,236.04
1,medium,237,237,239,236,235,234,234,234,235,...,232,233,237,235,237,235,236,233,237,235.40
2,hard,239,241,236,237,234,237,237,239,236,...,233,236,239,238,239,239,235,236,239,237.20

The average fitness score is: 236.21