# Analysis of the 27 different combinations of selection, crossover and mutation methods

In [1]:
import os, shutil
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
directory = "/Users/franz/Downloads/sudoku_solver-main-3/testing_results/27_combinations/"

all_file_names = sorted(os.listdir(directory))
try:
    all_file_names.remove(".DS_Store")
except:
    pass

print("There are", len(all_file_names), "csv files in the directory!")

There are 27 csv files in the directory!

In [3]:
fps__cycle_co__distinct_mutation = pd.read_csv(directory + "fps__cycle_co__distinct_mutation.csv")
fps__cycle_co__inversion_mutation = pd.read_csv(directory + "fps__cycle_co__inversion_mutation.csv")
fps__cycle_co__swap_mutation = pd.read_csv(directory + "fps__cycle_co__swap_mutation.csv")
fps__pmx_co__distinct_mutation = pd.read_csv(directory + "fps__pmx_co__distinct_mutation.csv")
fps__pmx_co__inversion_mutation = pd.read_csv(directory + "fps__pmx_co__inversion_mutation.csv")
fps__pmx_co__swap_mutation = pd.read_csv(directory + "fps__pmx_co__swap_mutation.csv")
fps__single_point_co__distinct_mutation = pd.read_csv(directory + "fps__single_point_co__distinct_mutation.csv")
fps__single_point_co__inversion_mutation = pd.read_csv(directory + "fps__single_point_co__inversion_mutation.csv")
fps__single_point_co__swap_mutation = pd.read_csv(directory + "fps__single_point_co__swap_mutation.csv")

rank__cycle_co__distinct_mutation = pd.read_csv(directory + "rank__cycle_co__distinct_mutation.csv")
rank__cycle_co__inversion_mutation = pd.read_csv(directory + "rank__cycle_co__inversion_mutation.csv")
rank__cycle_co__swap_mutation = pd.read_csv(directory + "rank__cycle_co__swap_mutation.csv")
rank__pmx_co__distinct_mutation = pd.read_csv(directory + "rank__pmx_co__distinct_mutation.csv")
rank__pmx_co__inversion_mutation = pd.read_csv(directory + "rank__pmx_co__inversion_mutation.csv")
rank__pmx_co__swap_mutation = pd.read_csv(directory + "rank__pmx_co__swap_mutation.csv")
rank__single_point_co__distinct_mutation = pd.read_csv(directory + "rank__single_point_co__distinct_mutation.csv")
rank__single_point_co__inversion_mutation = pd.read_csv(directory + "rank__single_point_co__inversion_mutation.csv")
rank__single_point_co__swap_mutation = pd.read_csv(directory + "rank__single_point_co__swap_mutation.csv")

tournament__cycle_co__distinct_mutation = pd.read_csv(directory + "tournament__cycle_co__distinct_mutation.csv")
tournament__cycle_co__inversion_mutation = pd.read_csv(directory + "tournament__cycle_co__inversion_mutation.csv")
tournament__cycle_co__swap_mutation = pd.read_csv(directory + "tournament__cycle_co__swap_mutation.csv")
tournament__pmx_co__distinct_mutation = pd.read_csv(directory + "tournament__pmx_co__distinct_mutation.csv")
tournament__pmx_co__inversion_mutation = pd.read_csv(directory + "tournament__pmx_co__inversion_mutation.csv")
tournament__pmx_co__swap_mutation = pd.read_csv(directory + "tournament__pmx_co__swap_mutation.csv")
tournament__single_point_co__distinct_mutation = pd.read_csv(directory + "tournament__single_point_co__distinct_mutation.csv")
tournament__single_point_co__inversion_mutation = pd.read_csv(directory + "tournament__single_point_co__inversion_mutation.csv")
tournament__single_point_co__swap_mutation = pd.read_csv(directory + "tournament__single_point_co__swap_mutation.csv")

In [4]:
all_dfs = [

fps__cycle_co__distinct_mutation,
fps__cycle_co__inversion_mutation,
fps__cycle_co__swap_mutation,
fps__pmx_co__distinct_mutation,
fps__pmx_co__inversion_mutation,
fps__pmx_co__swap_mutation,
fps__single_point_co__distinct_mutation,
fps__single_point_co__inversion_mutation,
fps__single_point_co__swap_mutation,

rank__cycle_co__distinct_mutation,
rank__cycle_co__inversion_mutation,
rank__cycle_co__swap_mutation,
rank__pmx_co__distinct_mutation,
rank__pmx_co__inversion_mutation,
rank__pmx_co__swap_mutation,
rank__single_point_co__distinct_mutation,
rank__single_point_co__inversion_mutation,
rank__single_point_co__swap_mutation,

tournament__cycle_co__distinct_mutation,
tournament__cycle_co__inversion_mutation,
tournament__cycle_co__swap_mutation,
tournament__pmx_co__distinct_mutation,
tournament__pmx_co__inversion_mutation,
tournament__pmx_co__swap_mutation,
tournament__single_point_co__distinct_mutation,
tournament__single_point_co__inversion_mutation,
tournament__single_point_co__swap_mutation

]


all_dfs_strings = []

for element in all_file_names:
    all_dfs_strings.append(element.replace(".csv", ""))

## Best Overall Average_Fitness

In [5]:
fitness_scores_for_overall = {}

for i in range(len(all_dfs)):
    fitness_scores_for_overall[all_dfs_strings[i]] = (all_dfs[i]["Average_Fitness"][0] + all_dfs[i]["Average_Fitness"][1] + all_dfs[i]["Average_Fitness"][2]) / 3
    
select = []
crossover = []
mutate = []

for i in range(len(all_dfs_strings)):
    select.append(all_dfs_strings[i].split("__")[0])
    crossover.append(all_dfs_strings[i].split("__")[1])
    mutate.append(all_dfs_strings[i].split("__")[2])

In [6]:
overall_df = pd.DataFrame([fitness_scores_for_overall.keys(), fitness_scores_for_overall.values()], index = ["Configuration", "Average_Fitness"]).T
overall_df["Select"] = select
overall_df["Crossover"] = crossover
overall_df["Mutate"] = mutate
overall_df["Average_Fitness"] = overall_df["Average_Fitness"].apply(float)
print("\n\n\033[1moverall:")
display(overall_df.sort_values("Average_Fitness", ascending = False).iloc[:,:2].head())

overall:

                                 Configuration  Average_Fitness
23           tournament__pmx_co__swap_mutation       249.653333
26  tournament__single_point_co__swap_mutation       249.293333
20         tournament__cycle_co__swap_mutation       247.946667
14                 rank__pmx_co__swap_mutation       245.693333
21       tournament__pmx_co__distinct_mutation       245.000000

#### By individual methods

##### Select

In [7]:
print("\n\n\033[1moverall:")
display(overall_df.groupby("Select").mean().sort_values("Average_Fitness", ascending = False))

overall:

            Average_Fitness
Select
rank             240.164444
tournament       239.715556
fps              183.980741

##### Crossover

In [8]:
print("\n\n\033[1moverall:")
display(overall_df.groupby("Crossover").mean().sort_values("Average_Fitness", ascending = False))

overall:

                 Average_Fitness
Crossover
pmx_co                222.327407
single_point_co       221.580741
cycle_co              219.952593

##### Mutate

In [9]:
print("\n\n\033[1moverall:")
display(overall_df.groupby("Mutate").mean().sort_values("Average_Fitness", ascending = False))

overall:

                    Average_Fitness
Mutate
swap_mutation            226.208889
distinct_mutation        223.884444
inversion_mutation       213.767407

## Best Average_Fitness for easy, medium and hard individually

#### By overall configuration

In [10]:
fitness_scores_for_easy = {}
fitness_scores_for_medium = {}
fitness_scores_for_hard = {}

for i in range(len(all_dfs)):
    fitness_scores_for_easy[all_dfs_strings[i]] = all_dfs[i]["Average_Fitness"][0]
    fitness_scores_for_medium[all_dfs_strings[i]] = all_dfs[i]["Average_Fitness"][1]
    fitness_scores_for_hard[all_dfs_strings[i]] = all_dfs[i]["Average_Fitness"][2]
    
select = []
crossover = []
mutate = []

for i in range(len(all_dfs_strings)):
    select.append(all_dfs_strings[i].split("__")[0])
    crossover.append(all_dfs_strings[i].split("__")[1])
    mutate.append(all_dfs_strings[i].split("__")[2])

In [11]:
easy_df = pd.DataFrame([fitness_scores_for_easy.keys(), fitness_scores_for_easy.values()], index = ["Configuration", "Average_Fitness"]).T
easy_df["Select"] = select
easy_df["Crossover"] = crossover
easy_df["Mutate"] = mutate
easy_df["Average_Fitness"] = easy_df["Average_Fitness"].apply(float)
print("\n\n\033[1measy:")
display(easy_df.sort_values("Average_Fitness", ascending = False).iloc[:,:2].head())

medium_df = pd.DataFrame([fitness_scores_for_medium.keys(), fitness_scores_for_medium.values()], index = ["Configuration", "Average_Fitness"]).T
medium_df["Select"] = select
medium_df["Crossover"] = crossover
medium_df["Mutate"] = mutate
medium_df["Average_Fitness"] = medium_df["Average_Fitness"].apply(float)
print("\n\n\033[1mmedium:")
display(medium_df.sort_values("Average_Fitness", ascending = False).iloc[:,:2].head())

hard_df = pd.DataFrame([fitness_scores_for_hard.keys(), fitness_scores_for_hard.values()], index = ["Configuration", "Average_Fitness"]).T
hard_df["Select"] = select
hard_df["Crossover"] = crossover
hard_df["Mutate"] = mutate
hard_df["Average_Fitness"] = hard_df["Average_Fitness"].apply(float)
print("\n\n\033[1mhard:")
display(hard_df.sort_values("Average_Fitness", ascending = False).iloc[:,:2].head())

easy:

                                 Configuration  Average_Fitness
26  tournament__single_point_co__swap_mutation           250.84
23           tournament__pmx_co__swap_mutation           250.16
20         tournament__cycle_co__swap_mutation           249.12
14                 rank__pmx_co__swap_mutation           248.84
17        rank__single_point_co__swap_mutation           248.00

medium:

                                 Configuration  Average_Fitness
26  tournament__single_point_co__swap_mutation           249.20
20         tournament__cycle_co__swap_mutation           248.80
23           tournament__pmx_co__swap_mutation           248.12
14                 rank__pmx_co__swap_mutation           245.08
12             rank__pmx_co__distinct_mutation           244.36

hard:

                                 Configuration  Average_Fitness
23           tournament__pmx_co__swap_mutation           250.68
26  tournament__single_point_co__swap_mutation           247.84
20         tournament__cycle_co__swap_mutation           245.92
21       tournament__pmx_co__distinct_mutation           245.88
18     tournament__cycle_co__distinct_mutation           243.24

#### By individual methods

##### Select

In [12]:
print("\n\n\033[1measy:")
display(easy_df.groupby("Select").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mmedium:")
display(medium_df.groupby("Select").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mhard:")
display(hard_df.groupby("Select").mean().sort_values("Average_Fitness", ascending = False))

easy:

            Average_Fitness
Select
rank             243.742222
tournament       241.364444
fps              186.644444

medium:

            Average_Fitness
Select
rank             239.857778
tournament       239.386667
fps              184.466667

hard:

            Average_Fitness
Select
tournament       238.395556
rank             236.893333
fps              180.831111

##### Crossover

In [13]:
print("\n\n\033[1measy:")
display(easy_df.groupby("Crossover").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mmedium:")
display(medium_df.groupby("Crossover").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mhard:")
display(hard_df.groupby("Crossover").mean().sort_values("Average_Fitness", ascending = False))

easy:

                 Average_Fitness
Crossover
pmx_co                224.533333
single_point_co       223.844444
cycle_co              223.373333

medium:

                 Average_Fitness
Crossover
pmx_co                222.057778
single_point_co       221.728889
cycle_co              219.924444

hard:

                 Average_Fitness
Crossover
pmx_co                220.391111
single_point_co       219.168889
cycle_co              216.560000

##### Mutate

In [14]:
print("\n\n\033[1measy:")
display(easy_df.groupby("Mutate").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mmedium:")
display(medium_df.groupby("Mutate").mean().sort_values("Average_Fitness", ascending = False))

print("\n\n\033[1mhard:")
display(hard_df.groupby("Mutate").mean().sort_values("Average_Fitness", ascending = False))

easy:

                    Average_Fitness
Mutate
swap_mutation            228.746667
distinct_mutation        226.248889
inversion_mutation       216.755556

medium:

                    Average_Fitness
Mutate
swap_mutation            226.066667
distinct_mutation        223.426667
inversion_mutation       214.217778

hard:

                    Average_Fitness
Mutate
swap_mutation            223.813333
distinct_mutation        221.977778
inversion_mutation       210.328889